<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="theme-{% if site.resume_theme %}{{ site.resume_theme }}{% endif %}">
    <div class="wrapper" itemscope itemtype="http://schema.org/Person">
      <meta itemprop="telephone" content="{{ site.resume_contact_telephone }}"/>
      <meta itemprop="address" content="{{ site.resume_contact_address }}"/>

      <header class="page-header">

        {% if site.resume_avatar == 'true' %}
        <img src="images/avatar.JPEG" alt="my photo" class="avatar no-print" itemprop="image">
        {% endif %}

        <h1 class="header-name" itemprop="name">Ignacio Romero Aravena</h1>

        <div class="header-contact-info">
          <p>+56 9 7131 1032 | ignacio.romero.a@ug.uchile.cl | <a href="https://github.com/tnacho-23">GitHub</a> | <a href="https://www.linkedin.com/in/ignacio-romero-aravena">LinkedIn</a></p>
        </div>

        <div class="title-bar no-print">
          <h2 class="header-title" itemprop="jobTitle">Electrical Engineering Student</h2>
        </div>

        <div class="executive-summary" itemprop="description">
          Passionate about robotics and artificial intelligence, with extensive experience in teaching, volunteering, and professional internships in related fields.
        </div>

        <a href="CV.pdf" download class="contact-button no-print" itemprop="email">Download PDF (es)</a>

      </header>

      <!-- Experience Section -->
      <section class="content-section">
        <header class="section-header">
          <h2>Experience</h2>
        </header>

        
        <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
          <h3 class="resume-item-title" itemprop="name">Electrotutores</h3>
          <h4 class="resume-item-details" itemprop="description">Electrotutor • 2024 - Present</h4>
          <p class="resume-item-copy">
          Part of the 'Electrotutores' team from the Electrical Engineering Department, responsible for educational organization and student engagement.
          </p>
        </div>

        <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
          <h3 class="resume-item-title" itemprop="name">University of Chile</h3>
          <h4 class="resume-item-details" itemprop="description">Teaching Assistant • 2022 - Present</h4>
          <p class="resume-item-copy">
            Teaching assistant for several undergraduate and postgraduate courses, including "Challenges of Innovation in Engineering and Sciences", "Duckietown: Robotics Applied to Autonomous Vehicles", "Advanced Programming" and "Artificial Intelligence and Robotics".
          </p>
        </div>

        <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
          <h3 class="resume-item-title" itemprop="name">UChile Robotics Team</h3>
          <h4 class="resume-item-details" itemprop="description">Team Member • 2022 - Present</h4>
          <p class="resume-item-copy">
            Active member and team leader of the robotics team 'Uchile Homebreakers' from the Electrical Engineering Department at the University of Chile.
          </p>
        </div>

        <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
          <h3 class="resume-item-title" itemprop="name">Sistemo</h3>
          <h4 class="resume-item-details" itemprop="description">Professional Internship • Jan 2023 - Feb 2023</h4>
          <p class="resume-item-copy">
            Responsible for maintenance of robotic systems, both software and hardware, during my internship at Sistemo, a leading company in logistics and robotics.
          </p>
        </div>
      </section>

      <!-- Education Section -->
      <section class="content-section">
        <header class="section-header">
          <h2>Education</h2>
        </header>

        <div class="resume-item" itemscope itemprop="alumniOf" itemtype="http://schema.org/CollegeOrUniversity">
          <h3 class="resume-item-title" itemprop="name">University of Chile</h3>
          <h4 class="resume-item-details group" itemprop="description">Electrical Engineering • 2020 - Present</h4>
        </div>

        <div class="resume-item" itemscope itemprop="alumniOf" itemtype="http://schema.org/CollegeOrUniversity">
          <h3 class="resume-item-title" itemprop="name">Saint Marcus School of Arica</h3>
          <h4 class="resume-item-details group" itemprop="description">High School • Graduated 2019</h4>
        </div>
      </section>

      <!-- Volunteering Section -->
      <section class="content-section">
        <header class="section-header">
          <h2>Volunteering</h2>
        </header>

        <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
          <h3 class="resume-item-title" itemprop="name">Santiago 2023</h3>
          <h4 class="resume-item-details" itemprop="description">Volunteer • 2023</h4>
          <p class="resume-item-copy">
            Assisted in managing the Pan American and Parapan American Village and worked as an English/Spanish interpreter.
          </p>
        </div>

        <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
          <h3 class="resume-item-title" itemprop="name">University of Chile</h3>
          <h4 class="resume-item-details" itemprop="description">Member of the FCFM University Induction Team • 2022 - 2023</h4>
          <p class="resume-item-copy">
            Guided new students through integration activities and served as a monitor for university life.
          </p>
        </div>

        <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
          <h3 class="resume-item-title" itemprop="name">Youth Pastoral, Saint Marcus School of Arica</h3>
          <h4 class="resume-item-details" itemprop="description">Coordinator • 2015 - 2020</h4>
          <p class="resume-item-copy">
            Led volunteer activities aimed at providing educational experiences for youth in Arica and surrounding areas.
          </p>
        </div>
      </section>

      <!-- Certifications Section -->
      <section class="content-section">
        <header class="section-header">
          <h2>Certifications</h2>
        </header>

        <div class="resume-item">
          <h4 class="resume-item-details">TOEFL ITP</h4>
          <p class="resume-item-copy">Score: 623 • 2023</p>
        </div>
        <div class="resume-item">
          <h4 class="resume-item-details">First Aid</h4>
          <p class="resume-item-copy">University of Chile • 2023</p>
        </div>
        <div class="resume-item">
          <h4 class="resume-item-details">Basic French A1.1</h4>
          <p class="resume-item-copy">French Institute • 2022</p>
        </div>
        <div class="resume-item">
          <h4 class="resume-item-details">Teacher Competencies Workshop</h4>
          <p class="resume-item-copy">University of Chile • 2021</p>
        </div>
        <div class="resume-item">
          <h4 class="resume-item-details">Advanced Intermediate English - FCE B2</h4>
          <p class="resume-item-copy">Cambridge University • 2018</p>
        </div>
      </section>

      <!-- Skills Section -->
      <section class="content-section">
        <header class="section-header">
          <h2>Skills</h2>
        </header>

        <div class="resume-item">
          <ul class="resume-item-list">
            <li>Proficient in Microsoft Office and Google productivity suites.</li>
            <li>3D modeling and printing.</li>
            <li>Software programming in Python and Matlab.</li>
            <li>Programming and working with microcontrollers.</li>
            <li>ROS for robotic systems.</li>
            <li>Analysis and design of electrical circuits.</li>
          </ul>
        </div>
      </section>
        <!-- Extra Curricular Activities -->
        <section class="content-section">
          <header class="section-header">
            <h2>Extra Curricular Activities</h2>
          </header>
  
          <div class="resume-item">
            <h4 class="resume-item-details">FCFM - UChile Swimming Team</h4>
            <p class="resume-item-copy">Active member of the swimming team at the Faculty of Engineering, University of Chile.</p>
          </div>
        </section>
    </div>

  </body>
</html>
